* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

.wrapper {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #cf0699;
}

h1 {
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}

h3 {
  color: #115fab;
  font-size: 40px;
  margin-bottom: 2.5rem;
}

#guessesRemaining {
  font-size: 50px;
  color: #cf0699;
}

#userGuess {
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#guessBtn,
#reset {
  background-color: #680192;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.input {
  margin-bottom: 1.5rem;
}

#status {
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #ffa500;
}

#timer {
  margin-bottom: 1rem;
  color: #ffa500;
  font-size: 40px;
}

#yourGuesses {
  color: #cf0699;
  font-size: 40px;
  margin-bottom: 1.5rem;
}

.resultTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.resultTable th,
.resultTable td {
  padding: 10px 20px;
}

.resultTable th {
  color: #cf0699;
}

.resultTable td {
  color: #ffa500;
}
